<%- include('partials/header') %>

<main style="text-align: center; margin-top: 50px;">
  <h2>¡Gracias por tu mensaje!</h2>
  <p>Tu mensaje ha sido recibido correctamente. Te responderemos pronto.</p>
</main>

<script>
  setTimeout(() => {
    window.location.href = "/";
  }, 3000);
</script>

<%- include('partials/footer') %>